body{
  font-family: 'Noto Sans KR', sans-serif;
}
main{
  height: auto;
}
#s{
  margin: 0 auto;
}
#s #ss{
  margin-top: 5%;
}
#s #ssssss{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
#s #ssssss h3{
  
}
#s #ssssss #ss2{
  font-size: 0;
}
#s #ssssss #ss2 .butt{
  
}
#s #ssssss #ss2 .bun1{
  
}
#s #ssssss #ss2 .butt button{
  width: 160px;
  height: 45px;
  border: none;
  background-color: transparent;
  border-bottom: 3px solid #ccc;
  cursor: pointer;
}
#s #ssssss #ss2 .bun1 h3{
  text-align: center;
  padding: 45px 0 60px;
}
#s #ssssss #ss2 .bun1 .type{
  text-align: center;
}
#s #ssssss #ss2 .bun1 .type .h3{
  
}
#s #ssssss #ss2 .bun1 .type #type{
  
}
#s #ssssss #ss2 .bun1 .type #level{
  
}
#s #ssssss #ss2 .bun1 .type option{
  
}
#s #ssssss #ss2 .bun1 .type select{
  width: 215px;
  padding: 10px 20px;
  margin: 6px;
  border: 1px solid #ccc;
  background-color: #fbfbfd;
  border-radius: 5px;
  font-size: 17px;
}
#s #ssssss #ss2 .bun1 .codt{
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}
#s #ssssss #ss2 .bun2 h3{
  text-align: center;
  padding: 24.5px 0;
  line-height: 2;
}
#s #ssssss #ss2 .bun2 .codt{
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}
#s #ssssss #ss2 .bun3 h3{
  text-align: center;
  padding: 45px 0 60px;
}
#s #ssssss #ss2 .bun3 .type{
  text-align: center;
}
#s #ssssss #ss2 .bun3 .type select{
  width: 215px;
  padding: 10px 20px;
  margin: 6px;
  border: 1px solid #ccc;
  background-color: #fbfbfd;
  border-radius: 5px;
  font-size: 17px;
}
#s #ssssss #ss2 .bun3 .codt{
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}
#s #sss{
  line-height: 1.5;
}
#ssss{
  margin-top: 50px;
}
#ssss .subTitle{
  
}
#ssss .subTitle li{
  
}
#ssss .subTitle li a{
  
}
#ssss .subTitle li a figure{
  justify-content: space-between;
  border-radius: 20px;
  position: relative;
}
.l1{
  background-color: #051060;
}
.l2{
  background-color: #707df3;
}
.l3{
  background-color: #192585;
}
.l4{
  background-color: #000000;
}
.l5{
  background-color: #011c49;
}
.l6{
  background-color: #1d2460;
}
.price{
  padding: 0 !important;
  color: white;
  margin-bottom: 5px;
}
#ssss .subTitle li a figure span{
  padding: 25px 50px;
}
#ssss .subTitle li a figure span figcaption{
  color: white;
  margin: 22px 0;
  font-size: 23px;
  font-weight: bold;
  line-height: 1.25;
}
#ssss .subTitle li a figure span .logo{
  color: white;
  font-size: 11px;
  display: inline-block;
  padding: 7px;
  background-color: #1d1d1d78;
  border-radius: 5px;
}
.ad{
  position: absolute;
  color: white;
  right: 20px;
  top: 15px;
  font-size: 12px;
  background-color: #a4a4a469;
  padding: 7px 10px;
  border-radius: 10px;
}
#ssss img{
  height: 240px;
  border-radius: 20px;
}
#ssss .subTitle li a figure span .date{
  color: #b9c0cd;
  font-size: 14px;
}
#sssss{
}
#sssss #bu{
  font-size: 0;
}
#sssss #bu button{
  width: 200px;
  border: none;
  background-color: transparent;
  border-bottom: 3px solid #ccc;
  cursor: pointer;
}
.wlist{
  display: flex;
  gap: 20px;
  width: 686px;
}
#im{
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
#im a{
  margin-top: 30px;
  height: 100%;
  color: black;
}
#im a::after{
  content: "";
  width: 10px;
  height: 10px;
  border: 1px solid #111;
  display: inline-block;
  border-radius: 50%;
  vertical-align: top;
  margin-left: 3px;
  border-color: #ccc;
  background-image: url(../img/>.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0.4px center;
}
#im1{
  width: 333px;
  height: 333px;
  border-radius: 20px;
  display: flex;
  color: white;
  padding: 33px;
  position: relative;
}
.li1 #im1:nth-child(1){
  background: linear-gradient(224.02deg, rgb(23, 116, 198) 4.61%, rgb(0, 224, 190) 93.66%);
}
.li1 #im1:nth-child(2){
  background: linear-gradient(224.02deg, rgb(0, 121, 168) 4.61%, rgb(0, 130, 240) 93.66%);
}
.li2 #im1{
  background: linear-gradient(224.02deg, rgb(0, 67, 168) 4.61%, rgb(0, 130, 240) 93.66%);
}
.li3 #im1{
  background: linear-gradient(231.73deg, rgb(146, 32, 114) 0%, rgb(66, 134, 219) 100%);
}
#im1 button{
  position: absolute;
  bottom: 33px;
  width: calc(100% - 33px * 2);
  left: 33px;
  height: 40px;
  font-weight: bold;
  cursor: pointer;
}
#im1 div{
  height: calc(100% - 40px);
}
#im1 div:nth-child(1){
  
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#im1 div:nth-child(2){
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.li3{
  
}
.li3 #im1{
  position: relative;
}
.li3 #im1 div:nth-child(2){
  position: absolute;
  right: 20px;
  width: 122px;
  display: block;
  top: calc(50% - 45px);
}
#im1 div h2{
  line-height: 1.5;
  font-weight: bold;
  font-size: 18px;
}
#im1 div p{
  
}
#im1 div img{
  
  width: 100%;
  height: 90px;
}
#im1 div span{
  
  font-size: 16px;
  margin-left: 5px;
}
#im1 div .wprice{
  
  font-size: 27px;
  margin-bottom: 15px;
}
#im2{
  
}
#sssss .sc{
}
#sssss .scc{
  
  justify-content: space-between;
}
#sssss .scu{
  
}
#s03{
  
  width: 100%;
}
#s03 .sc2{
}
#s03 .scc2{
  display: flex;
  justify-content: space-between;
  position: relative;
}
#s03 .scc2 .scu2{
  
  height: 100%;
}
#s03 .scc2 .graph{
  width: 768px;
  height: 457px;
  background-image: url(https://d1nuzc1w51n1es.cloudfront.net/cff243c42f22a5f746d8.png);
  background-size: contain;
}
#s03 .scc2 .a2{
  position: absolute;
  top: 100px;
  left: 0.5px;
}
#s03 .scc2 .a2::after{
  content: "";
  width: 10px;
  height: 10px;
  border: 1px solid #111;
  display: inline-block;
  border-radius: 50%;
  vertical-align: top;
  margin-left: 3px;
  border-color: #ccc;
  background-image: url(../img/>.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0.4px center;
}
#aaa{
  
}
#aaa #s04{
  
}
#aaa #s04 .sc3{
  
}
#aaa #s04 .scc3{
  display: flex;
  justify-content: space-between;
  position: relative;
}
#aaa #s04 .scc3 .scu3{
  
}
#aaa #s04 .scc3 #mbar{
  width: 700px;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
#aaa #s04 .scc3 #mbar .hdimg{
  overflow: hidden;
  width: 40%;
  border-radius: 0 10px 0 0;
  position: absolute;
  top: -1px;
  right: -1px;
  height: 100%;
}
#aaa #s04 .scc3 #mbar .hdimg img{
  
  position: absolute;
  height: 100%;
  right: -50%;
}
#aaa #s04 .scc3 .a3{
  position: absolute;
  top: 100px;
  left: 0.5px;
} 
#aaa #s04 .scc3 #mbar .wbar{
  
  display: flex;
  position: relative;
  height: 133px;
}
#mbar div .con{
  width: 60%;
  padding: 33px;
}
#mbar div .con h3{
  font-weight: bold;
}
.wdate{
  margin-top: 19px;
}
.wdate p{
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  width: 311px;
  color: #1080ff;
  font-weight: bold;
  line-height: 1.7;
}
.wdate .wwdate{
  font-weight: initial;
  color: #555;
}
.code{
  padding: 0 33px;
  font-size: 0;
  display: flex;
  gap: 5px;
  border-top: 1px solid #ccc;
  margin-top: -2px;
  padding-top: 22px;
}
.code a{
  font-size: 12px;
  background-color: #cccccc77;
  padding: 5px 10px;
  border-radius: 5px;
}
#aaa #s04 .scc3 .a3:after{
  content: "";
  width: 10px;
  height: 10px;
  border: 1px solid #111;
  display: inline-block;
  border-radius: 50%;
  vertical-align: top;
  margin-left: 3px;
  border-color: #ccc;
  background-image: url(../img/>.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0.4px center;
}
#aaaa{

}
#aaaa #s05{

}
#aaaa #s05 .scc5{

}
#aaaa #s05 .scc5 .scu5{
  margin-bottom: 25px;
}
#aaaa #s05 div{

  display: flex;
  justify-content: space-between;
}
#aaaa #s05 div a{
  width: 275px;
  height: 220px;
}
#aaaa #s05 div a div{
  width: 100%;
  height: 184px;
  border: 1px solid;
  border-radius: 20px;
  margin-bottom: 11px;
}
#aaaa #s05 div a:nth-child(1) div{
  background-image: url(https://asset.programmers.co.kr/image/origin/production/job_theme/162887/ca476513-5294-4d15-87da-b6df56e4fa15.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #fff3e0
}
#aaaa #s05 div a:nth-child(2) div{
  background-image: url(https://asset.programmers.co.kr/image/origin/production/job_theme/163050/adbe59c6-385f-4283-822f-68f76ede9797.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #e0f2f1
}
#aaaa #s05 div a:nth-child(3) div{
  background-image: url(https://asset.programmers.co.kr/image/origin/production/job_theme/162890/595df8b9-616a-40a5-a7d6-9ac073328287.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #fbe9e7
}
#aaaa #s05 div a:nth-child(4) div{
  background-image: url(https://asset.programmers.co.kr/image/origin/production/job_theme/162891/b5c3c39e-f3c3-409a-8faf-bdc8521ab736.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #e8f5e9
}

#sppp{
  background-color: #1c2a4a;
  height: 247px;
  background-image: url(https://d1nuzc1w51n1es.cloudfront.net/edcaedb36f9451a8aeaa.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right 150px center;
  display: flex;
  margin-top: 60px;
}
#aaaa #s05 div a p{
  
}
#aaaaa{
  margin-top: 5%;
  margin: 0 auto;
  margin-top: 5%;
}
#aaaaa #s06{

}
#aaaaa #s06 .scc6{

}
#aaaaa #s06 .scc6 .scu6{

  color: white;
  margin-bottom: 20px;
}
#aaaaa #s06 .scc6 a{

}
#aaaaa #s06 .scc6 a button{
  color: #0084ff;
  padding: 5px;
  padding-right: 20px;
  padding-left: 20px;
  cursor: pointer;
}

